[flake8]
# (ANN) Type Annotations
# (B, B9) Bugbear
# (BLK) Black
# (C) McCabe Complexity
# (D) Docstrings
# (DAR) darglint
# (E, W) pycodestyle
# (F) pyflakes
# (I) import order
# (S) Security/Bandit
select = ANN,B,B9,BLK,C,D,DAR,E,F,I,S,W

application-import-names = sodic,tests

max-complexity = 10
max-line-length = 100
import-order-style = google
docstring-convention = google

#bugbear settings
extend-immutable-calls = Depends

#darglint settings
strictness=short

# Bandit should allow assert in tests
per-file-ignores =
    # D100,D101,D102,D103,D104,D107 - missing docstrings are OK for tests
    demos/*:D100,D101,D102,D103,D104,D107
    tests/*:D100,D101,D102,D103,D104,D107
    ci/*:D100,D101,D102,D103,D104,D107

    # F401 - Stop Flake8 complaining about "imported but unused"
    __init__.py:F401

# E501 (line limit exceed) is handled by bugbear with 10% tolerance margin
# E203, W503 do not play well with black
# ANN201, ANN204 are covered by darglint
# S101: use of assert is OK, but you are encouraged to throw a more appropriate exception
# B011: assert(False) can be OK
# No Docstring on module level
ignore = E501,E203,W503,ANN101,ANN204,ANN201,S101,B011,D100,D104,D107
